:root {
  --heading-font-family: "Playfair Display", serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

/* h1,
h2,
h3 {
} */

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 24px;
}

a {
  text-decoration: none;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
